
body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    color: #333;
}


.big-title {
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}


.storm-text {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.storm-italic {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
}




.question-box {
    background: #F3F6FB;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}

.work-box {
    width: 300px;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: absolute;
    right: -10px;      
    top: 0;
    padding-bottom: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}


.work-header {
    background: #F5F5F5;
    padding: 10px 12px;
    border-radius: 8px 8px 0 0;
    font-family: poppins;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
}


.step-count {
    font-size: 12px;
    color: #555;
}


.work-question {
    padding: 10px 10px;
    font-family: poppins;
    font-size: 14px;
    font-weight: 600;
}


.work-toolbar {
    display: flex;
    gap: 6px;
    padding: 0 12px;
}

.tool-btn {
    background: #fff;
    border: 1px solid #ccc;
    padding: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
}

.tool-btn:hover {
    background: #f0f0f0;
}


.work-textarea {
  
    resize: none;
    height: 140px;
}


.next-btn {
    background: #80B7FF;
    padding: 6px 16px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    margin: 0 px;
}



.editor-header {
    background: #F5F5F5;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
}

.editor-body {
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
}

.next-btn {
    background: #80B7FF;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
}


.list-text {
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 22px;
}


.accordion-header-custom {
    background: #F0F7FF;
    font-family: 'Varela Round';
    font-size: 24px;
    font-weight: 700;
    padding: 10px 15px;
}


.grid-text {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 30px;
}


.left-header {
    background: #F0F7FF;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}


.word-table th, .word-table td {
    border: 1px solid #ccc;
    padding: 10px;
}

.word-table {
    width: 100%;
    border-collapse: collapse;
}


.word-list-table {
    width: 100%;
    border-collapse: collapse;
}

.word-list-table td {
    border: 1px solid #ccc;
    padding: 8px 10px;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}
